@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
:root{
  --primary-bg: #0B0C10;
  --secondary-bg: #45A29E;
  --tertiary-bg:#1F2833;
  --text-color-title:#66FCF1;
  --text-color-normal:#C5C6C7;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding-top: 30px;
  background: var(--primary-bg);
  font-family: 'Nunito', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
